<template>
  <div class="new-message">
    <form @submit.prevent="addMessage">
      <label for="new-message">New Message (enter to add) :</label>
      <input type="text" name="new-message" v-model="newMessage" />
      <p v-if="feedback" class="red-text">{{ feedback }}</p>
    </form>
  </div>
</template>

<script>
import db from "@/firebase/init";

export default {
  name: "NewMessage",
  props: ["name"],
  data() {
    return {
      newMessage: null,
      feedback: null
    };
  },
  methods: {
    addMessage() {
      // Si présence d'un message à envoyer => Création
      // de la collection sur firestore
      if (this.newMessage) {
        db.collection("messages")
          .add({
            content: this.newMessage,
            name: this.name,
            timestamp: Date.now()
          })
          .catch(err => {
            console.log(err);
          });
        // Nettoie l'input du message envoyé ainsi que le feedback
        this.newMessage = null;
        this.feedback = null;
      } else {
        this.feedback = "Please enter a message";
      }
      console.log(this.newMessage, this.name, Date.now());
    }
  }
};
</script>
